@import './base.scss';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  background-color: #faebd7;

  font-weight: normal;
  position: relative;
  .product-card {
    position: absolute;
    top: 12.5%;
    left: calc(calc(100% - 900px)/2);
    width: 75%;
    height: 75%;
    max-width: 900px;
    max-height: 900px;
    background-color: #ffffff;
    border-radius: 0.75rem;
    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
      > .image {
        width: 50%;
        max-width: 600px;
        height: 100%;
        border-top-left-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
        background-image: url('./images/image-product-mobile.jpg');
      }
    }
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    .product-card {
      .card {
        flex-direction: row;
        height: 100%;
        > .image {
          background-image: url('./images/image-product-desktop.jpg');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
